*
{   
    overflow-x: hidden;
    font-family: Roboto-Regular,'Helvetica Neue',Helvetica,Tahoma,Arial,Sans-serif;
    margin: 0px;
    padding: 0px;
   
}
body
{
    background-color:#F5F5F5;
}
/*navbar start*/
header{
    
    height: 100px;
    background-color:white;
}

header .nav
{   
    
    width:100%;
    height:25px;
    background-color:#ECECEC ;
    position:sticky;
}
header .nav ul
{
    list-style-type: none;
    display: flex;
    position: relative;
    left: 42.4%;
    line-height:1;
}
header .nav ul li
{
    padding: 3px 14px 3px 15px;
    
}

header .nav ul li a
{
    font-size:12px;
    color:#504d4d;
    font-weight:549;
    text-decoration: none;
}
header .nav ul li a:hover
{
    color:#f36f36;
    text-decoration: underline;
}
header .nav ul li span
{
color:  #f36f36;
}
/*navbar End*/

/*row second start*/
.rowsec
{   
    position: absolute;
    left: 6%;
    padding-top: 11px;
    display: flex;
    width: 100%;
    height: auto;
}
.rowsec #logo img{
    width: 135px;
    height: 41px;
  
}
    
.rowsec #downloadapp img
{
    width: 188px;
    height: 45px;
}
.rowsec #searchbar input
{
    width:711px;
    display: inline-block;
    height: 45px;
    line-height: 45px;
    background-color:#F5F5F5;
    border-radius: 3px;
    border:unset;
    position: relative; 
    left:9.5%;
    padding-left:19px;
}
.rowsec input::placeholder 
{
    color:rgb(156, 152, 152);
}
.rowsec  #searchbutton button{
 
    border:unset;
    position: relative;
    height: 45x;
    background-color: white;


}
.rowsec  #searchbutton button img
{
    border-top-right-radius: 3px;
    border-bottom-right-radius:3px;
    border:unset;
    height: 45x;

}

.rowsec #cart{
    position: relative; 
    left:1.89%;
    padding-top:10px;
}
.rowsec #downloadapp
{   
  
    position: relative;
    left:5.51%;
}
/*row second End*/
/*slider start*/
.slider
{
    width:5760px;
    overflow: hidden;
    animation:slidermover 16s infinite ;
}
@keyframes slidermover{
    0%,10%,20%,30%{margin-right:0px;}
    40%,50%,60%  {margin-left:-1440px;}
    70%,80%  {margin-left:-2880px;}
    90%  {margin-left:-4320px;}
    100%{margin-left: 0px;}
}
.rapper
{
    width:100%;
    display: flex; 
}

.sc
{
    background-color: #4A90E2;
    width:1440px;
}
.charchol
{
    background-color: #164F98;
    width:1440px;
}
.mega
{
    background-color: #201D83;
    width:1440px;
}
.mahru
{
    background-color: #FBD1AD;
    width:1440PX;
}
.rapper img{
    margin-left:5.9%;
    height: 350px;
}
/*slider End*/

.darazshop{
    
    width:100%;
    height:70px;
    margin-top:10px;
    font-weight:bold;  
    z-index: 26;
    color:black;
    display: flex;
}
.rowitem{
    display: flex;
    background-color: white;
    width:220px;
    height: auto;
    border-radius:18px;
    margin:3px 25px;    
    
    
}
.rowitem img{
    width:30px;
    height:30px;

    padding-left:4px;
}
.darazshop a .rowitem .text 
{
    margin:8px 20px;

    position: relative;
}
.darazshop a .rowitem .image{
    padding-top:3px;
    
}
.darazshop a .rowitem .first{
    margin-left: 30px;
}